#title{
    background-color: #ff4c68;
    color: white;
}
.body{

    font-family: 'Montserrat-Black';
}
.h1{
    font-family: 'Montserrat-Black';
    font-size: 3rem;
    line-height: 1.5;
}
#features{
    padding:7% 15%;
    background-color:#fff;
    position: relative;
}
.container-fluid{
    padding: 3% 15% 7%;
}
.navbar{
    padding-bottom: 0 0 4.5rem;
}
.navbar-brand{
    font-family: 'Ubuntu';
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-size:1.2rem;
    font-family: 'Montserrat-Light';
}
.download-button{
    margin:5% 3% 5% 0;
}
.himg{
    width: 60%;
    transform: rotate(25deg);
    position: absolute;
    right: 30%;
}
.feature{
    font-family: 'Montserrat-Bold';
    font-size: 1.5em;
}
.fb{
    text-align: center;
    padding:5%
}
.fa{
    color: #ef8172;
    margin-bottom: 1rem;
}
.fp{
    color:#8f8f8f
}
.fa:hover{
    color: #ff4c68;
}
#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff
}
.carousel-item{
    padding:7% 15%;
}
.th2{
    font-family: 'Montserrat-Bold';
}
.timg{
    width: 10%;
    border-radius: 100%;
}
#press{
    text-align: center;
    background-color: #ef8172;
    padding-bottom: 3%;

}
.pimg{
    width: 15%;
    margin: 20px 20px 50px;
}
#pricing{
    text-align: center;
    padding:100px;
    background-color: #fff;
    text-align: center;
}
#cta{
    background-color: #ff4c68;
    color: white;
    text-align: center;
    padding: 7%,15%;
}
#footer{
    padding:10%;
    background-color: #fff;
    text-align: center;
    color:#8f8f8f
}
.ca{
    padding: 10% 10% 0 10%;
    font-family: 'Montserrat-Black';
    font-size: 3.5em;
    font-weight: bold;
    line-height: 1.5;
}
.fsi{
    color: #000;
    margin: 20px 10px;
}
@media (max-width:1028px) {
    #title{
        text-align: center;
    }
    .himg{
        position: static;
        transform: rotate(0);
    }
}